@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    background-color:#161616;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

*{
  font-family: 'Fjalla One', sans-serif;
}

.bg-Color{
  background-color:#353535;
}
.text-Color{
  color: #08c1ff;
}

.navbar{
  height: 54%;
  top:0;
}

.change{
  background-color: #08c1ff;
}

.nav-element{
  font-size: 20px;
  
}
.nav-img{
  width:25px;
  height:25px; 
}

.width-news{
  display: block;
  width:25%;
}
.width-navbar{
  width: 25%;
}
.width-view{
  width: 50%;
}

.button{
  font-size: 15px;
  width: 60px;
  height:60px;
}
.standings-element{
  font-size: 20px;
}

@media screen and (max-width : 1000px ) {
  .nav-img{ 
    width:15px;
    height:15px; 
  }
  .width-news{
    display: none;
  }
  .width-navbar{
    width: 25%;
  }
  .width-view{
    width: 75%;
  }
  .button{
    font-size: 10px;
    width: 40px;
    height:40px;
  }
  .nav-element{
    font-size: 10px;
    
  }
  .standings-element{
    font-size: 10px;
  }
}